/MINISTERSTVO_OBRAZOVANIYa_RESPUBLIKI_BELARUS.docx
/КПО КП. Варианты заданий 2022.pdf
/КПО КП. Методические указания_Наркевич.pdf
/Образец_Задание на курсовой проект.pdf
/Образец_Титульный лист.pdf
/etc